# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/loans?schema=public"

# BrasilAPI Configuration
BRASILAPI_BASE_URL="https://brasilapi.com.br"
BRASILAPI_CEP_PATH="/api/cep/v2"
BRASILAPI_CDI_PATH="/api/taxas/v1/cdi"

# Request Configuration
REQUEST_TIMEOUT_MS=3000

# Next.js
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
